<table border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="" class="header-bg">
  <tr>
    <td align="center">
      <table border="0" cellspacing="0" cellpadding="0" width="100%" class="parent">
        <tr>
          <td align="right" class="menu monospace">
            <a href="/"><img src="/images/sir-octopus.png" width="240" height="240" align="left" hspace="0" vspace="0" border="0" alt="Sir Octopus"></a>
            <br>
            &nbsp;{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            <a href="/search/">Search</a>
            <a href="/index.xml">RSS</a>
            <a href="http://http.siroctopus.com/">HTTP</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>